@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html, body {
	height: 100%;     
}

.centralizador {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

.clear {
    clear: both;
}

/* ----- HEADER --------- */

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
  
a:hover {
    opacity: 0.7;
    color: orange;
    font-weight: bold;
}
  
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 5px;    
}

.logo img {
    width: 68px;
    border-radius: 34px;
    border: 2px solid #747474;    
}
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background-color: #373737;
    border-bottom: 1px solid #747474;
    height: 12vh;
    z-index: 999;
} 
  
  
.nav-list {
    list-style: none;
    display: flex;
}
  
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
  
.mobile-menu {
    display: none;
    cursor: pointer;
}
  
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}
  
@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 12vh;
      right: 0;
      width: 100vw;
      height: 70vh;
      background: #454545;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateY(-120%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
}
  
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*----- SESSÃO INÍCIO DO CONTEÚDO GERAL ---------- */

section.conteudo-geral {
    width: 100%;           
    height: 100%;
    background: linear-gradient(-35.13deg, #515151 50.04%, #313131 0.05%);                  
}

.servicos {
    display: flex;
    position: absolute; 
    width: 95%;
    padding-top: 150px;                           
}    

.descricao1 {
    width: 50%;
    padding: 40px 40px 40px 1px;
    text-align: center;
    color: white;    
}

.descricao1-wraper {
    display: inline-block;
    margin: 10px;       
}

.descricao1-wraper h2 {    
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-bottom: 25px; 
    text-align: left; 
    font-family: 'Roboto Slab', serif;  
}

.descricao1-wraper h3 {
    width: 100%;
    font-size: 40px;
    padding-bottom: 25px;    
    background: rgb(255, 255, 255);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: texto 2s steps(30, end) alternate infinite;
    white-space: nowrap;
    border-right: 5px solid #fff;
    text-align: center;
    font-family: 'Roboto Slab', serif;   
}

@keyframes texto {
    0% {
        width: 0;
        border-color: transparent;
    }
    50% {
        border-color: #fff
    }
    100% {
        width: 100%;
        border-color: transparent;
    }
}

.descricao1-wraper p {
    font-size: 23px;
    color: rgb(255, 255, 255); 
    text-align: left;  
    font-family: 'Roboto Slab', serif; 
}

.descricao1-wraper .linkedin {
    width: 100%;
    max-width: 260px;
    height: 80px;
    border-radius: 50px;
    background-color: #424242;
    color: white;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-top: 50px;  
    transition: 0.4s;   
    cursor: pointer;     
    font-family: 'Roboto Slab', serif;
    box-shadow: 2px 2px 5px 0px rgba(122,114,114,1);
    -webkit-box-shadow: 2px 2px 10px 0px rgba(122,114,114,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(122,114,114,1);     
}

.linkedin:hover,
.linkedin:focus {
    outline: none;
    letter-spacing: 6px;
    background-color: #595959;
    box-shadow: 0 0 0 2px #878787;
}

.descricao1-wraper a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.descricao2 {
    width: 50%;
    padding-left: 50px;         
}
.descricao-meu-desenho img {
    width: 70%;     
}

@keyframes desenhoAnimacao {
    from {
        top: -10px;
        left: -15px;       
    }
    
    to {
        top: 20px;
        right: 25px;
    }
}

.foto-desenho {
    position:relative;
    animation: desenhoAnimacao 3.1s infinite alternate-reverse linear;    
}

.close-menu {
    display: none;
}

.meu-nome::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* ----- RESPONSIVO MEDIA SCREEN ----- */

@media screen and (max-width: 992px) {

    .nav-list {
       z-index: 999;    
    }

    .descricao2 {
        width: 50%;
        padding-left: 50px;         
    }
    .descricao-meu-desenho img {
        width: 90%;     
    }

}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 12vh;
        right: 0;
        width: 100vw;
        height: 70vh;
        /*background-color: #272727;*/
        flex-direction: column;
        /*align-items: center;*/
        justify-content: space-around; 
        transform: translateY(-120%);  
        transition: transform 0.3s ease-in; 
        z-index: 999;    
    }

    .nav-list li {
        /*margin-left: 0;*/
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px); 
    }	

    .servicos {
        width: 90%;        
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column-reverse; 
        padding-top: 20px;               
    }  

    .descricao2 {
        width: 80%;             
        margin: 0 auto;
    }

    .descricao-meu-desenho img {
        width: 100%; 
        padding-left: 20px;    
    }

    .descricao1 {
        width: 100%;       
        padding-bottom: 10px;        
    }

    .descricao1-wraper {
        display: inline-block; 
        padding-left: 35px;              
    }
    
    .descricao1-wraper h2 {        
        font-size: 30px;       
    }
    
    .descricao1-wraper h3 {
        width: 100%;
        font-size: 30px;
        padding-bottom: 25px;    
        background: rgb(255, 255, 255);
        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;         
    }

    .descricao1-wraper p {
        font-size: 17px;       
    }

    .descricao1-wraper .linkedin {
        width: 100%;
        max-width: 260px;
        height: 80px;
        border-radius: 50px;       
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 50px;     
    }    
}

@media screen and (max-width: 600px) {    
    
    
}



   
	

